<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VGG19 ImageNet Classifier</title>

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- card style -->
    <style>
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 5px 12px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

            /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 10px 24px 0 rgba(0,0,0,0.2);
        }
    </style>


</head>
<body>

    <nav class="navbar navbar-light" style="background-color: #3f3f44; padding:20px">
        <div class="container-fluid">
            <!-- <span class="navbar-text"> -->
                <div class="col d-flex justify-content-center"
                 style="color:#f7f7f7; font-size:40px">
                    Image Classifier Using VGG19 Model
                </div>
            <!-- </span> -->
        </div>
    </nav>

    <br />
    <br />

    <div class="col d-flex justify-content-center">
        <div class="card text-center w-75 ">
            <div class="card-header" style="color:#3f3f44; background-color:#cceabb; font-size:28px">
                <b>Predict the Label for Uploaded Image</b>  
            </div>
            <div class="card-body">
                <br />

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Upload">
                </form>

                <br />
                
                <!-- showing the uploaded img -->
                {% if img_obj %}
                    <h3>Successfully Uploaded...</h3>
                    <img src="{{img_obj.image.url}}" alt="connect" style="max-height:200px; max-width:200px">
                {% endif%}

                <br />

            </div>
            <div class="card-footer"
                style="color:#3f3f44; background-color:#cceabb; font-size:25px">
                <b>Prediction Label: {{prediction_label}}</b>
            </div>
        </div>
    </div>

</body>
</html>